form :invalid {
    border-color: rgb(202, 0, 0)
}

body {
    background: rgb(121, 129, 0);
}

.logo-text{
    background: rgb(250, 243, 183);
}
body {
    background-image: url("stylesheets/Paper/Paper.PNG");
    background-color: #cccccc;
   }
   